################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/Shopping/.vs
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
*.user
*.userosscache
*.suo
*.userprefs
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.cache

# NuGet Packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# Others
[Tt]emp/
*.tmp
*.swp
*.*~
project.lock.json
.DS_Store
Thumbs.db
